/* index css */
      body {
            margin: 0;
            font-family: 'Poppins', Arial, sans-serif;
            color: #333; /* Dark grey text color */
            padding: 0;
            padding-bottom: 50px;
            height: 100vh;
            background: linear-gradient(-45deg, #f0f0f0, #e6e6e6, #d9d9d9, #cccccc); /* Light grey gradient */
            background-size: 400% 400%;
            animation: gradientBG 10s ease infinite; /* Smooth gradient animation */
        }

        header {
            background-color: rgba(50, 50, 50, 0.9); /* Dark grey semi-transparent background */
            color: white;
            padding: 10px 20px;
            position: sticky;
            top: 0;
            z-index: 1000;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for header */
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 1.8em;
            font-weight: bold;
            color: white; /* Light grey color for the logo */
            font-family: 'Georgia', serif;
        }

        .menu-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu-list li {
            margin-left: 30px;
        }

        .menu-list li a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 1em;
            transition: color 0.3s ease;
        }

        .menu-list li a i {
            margin-right: 8px;
            font-size: 1.2em;
        }

        .menu-list li a:hover {
            color: #9f9f9f; /* Light grey hover effect */
        }

        .intro {
            margin-top: 20px;
            text-align: left;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
            border-radius: 15px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
           /* animation: fadeIn 2s ease-in-out;*/
        }

        .intro-text {
            font-weight: bolder;
            max-width: 50%;
            animation: slideIn 1.5s ease-in-out;
        }

        .intro h1 {
            font-size: 3.5em;
            margin: 0;
            color: #666; /* Medium grey color for the main heading */
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            line-height: 1.2;
        }

        .intro h1 span {
            display: inline-block;
            animation: wave 1.5s infinite;
            color: #999; /* Light grey for the emoji */
        }

        .intro h2 {
            font-size: 2.5em;
            margin: 20px 0 10px;
            color: #444; /* Dark grey for the name */
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        .intro h3 {
            font-size: 1.5em;
            margin: 10px 0;
            color: #555; /* Medium grey for dynamic text */
            opacity: 0;
            transition: opacity 1s ease-in-out;
            font-family: 'Roboto', sans-serif;
        }

        .intro h3.active {
            opacity: 1;
        }

        .portfolio-img {
            max-width: 35%;
            height: auto;
            border-radius: 90%;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
            animation: zoomIn 1.5s ease-in-out;
        }

        .introduction {
            margin: 40px 10px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #333;
        }

        .introduction h2 {
            font-size: 2.5em;
            color: #666;
            margin-bottom: 15px;
        }

        .introduction p {
            font-size: 1.2em;
            color: #555;
            line-height: 1.6;
        }

        footer {
            background-color: rgba(50, 50, 50, 0.9);
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 50px;
            font-size: 0.9em;
        }

        footer a {
            color: #9f9f9f;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
        }

        footer a:hover {
            text-decoration: underline;
        }

/* contact page css */

 .contact-container {
            margin: 50px auto;
            padding: 20px;
            max-width: 800px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9); /* Light transparent background */
            border-radius: 15px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }

        .contact-container h1 {
            font-size: 3em;
            color: #333;
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .contact-container p {
            font-size: 1.2em;
            color: #555;
            margin: 10px 0;
            line-height: 1.6;
        }

        .contact-container a {
            color: #be87f8;
            text-decoration: none;
            font-weight: bold;
        }

        .contact-container a:hover {
            text-decoration: underline;
        }

/* Project page css */

        .container-first, .container-second {
            margin: 40px auto;
            padding: 10px;
            max-width: 95%;
            background: rgba(255, 255, 255, 0.9); /* Light transparent background */
            border-radius: 15px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }

        .contact-container h1 {
            font-size: 2em;
            color: #333;
            margin-bottom: 20px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .contact-container p {
            font-size: 1.2em;
            color: #555;
            margin: 10px 0;
            line-height: 1.6;
        }

/* skill page css */

.skills-container {
            margin: 50px auto;
            padding: 20px;
            max-width: 1200px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
            border-radius: 15px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }

        .skills-container h1 {
            font-size: 3em;
            color: #333;
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .skills-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .skill-card {
            background-color: #f3f3f3;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 250px;
            text-align: center;
        }
        .skill-card i {
            font-size: 3em;
            color: #af72f0;
            margin-bottom: 10px;
        }

        .skill-card h3 {
            font-size: 1.2em;
            color: #333;
            margin: 10px 0;
        }

        .skill-card p {
            font-size: 0.9em;
            color: #555;
        }

/* resume page css */

        .resume-container {
            margin: 50px auto;
            padding: 20px;
            max-width: 800px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
        

        .resume-container h1 {
            font-size: 3em;
            color: #333;
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .resume-container iframe {
            width: 100%;
            height: 400px; /* Show half of the resume */
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .view-resume-btn {
            display: inline-block;
            margin-top: 20px;
            padding: 15px 30px;
            background-color: #d4b5f6;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

        .view-resume-btn:hover {
            background-color: #b392e6;
            transform: scale(1.05);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
        }